.navbar {
    padding: 0.6rem;
    border-bottom: 1px solid #198754;
    background-color: aquamarine;
    background-color: #99e9d5 !important;
    cursor: pointer;
}

.navbar-brand {
    font-size: 1.5rem;
    letter-spacing: 0.5px;
}

.avatar-circle {
    width: 38px;
    height: 38px;
    background-color: #198754;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 0.85rem;
    text-transform: uppercase;
    color: white;
    transition: all 0.3s ease;
    box-shadow: 0 2px 5px rgb(0, 0, 0, 0.2);
}

.nav-link:hover .avatar-circle {
    transform: scale(1.05);
    background-color: #157347;
}
.text-danger:hover {
    background-color: #fff5f5 !important;
}

.user-dropdown-container .dropdown-toggle::after {
    display: none !important;
}


.user-dropdown-container .nav-link {
    display: flex !important;
    align-items: center !important;
    height: 100% !important;
    padding: 10px 20px !important; 
    background-color: transparent !important;
    color: #000 !important;
    transition: background-color 0.3s ease-out, color 0.3s ease !important;
    cursor: pointer;
}

/* Allineamento del contenuto dentro il titolo */
.user-dropdown-container .dropdown-toggle div {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* EFFETTO HOVER COMBINATO */

.user-dropdown-container:hover .nav-link {
    background-color: #18a680 !important;
    color: #ffc107 !important; /* Giallo o Bianco */
}

/* Il Menu Dropdown (Allineato e Nero) */
.user-dropdown-container .dropdown-menu  {
    
    background-color: #18a680 !important;
    border: none !important;
    border-radius: 0 !important;
    margin-top: 0 !important; 
    padding: 0 !important;
    min-width: 100% !important; 
    animation: fadeIn 0.4s ease-out;
}



/* Animazione per la tendina che appare */
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(5px); }
    to { opacity: 1; transform: translateY(0); }
}

/* Le voci interne */
.user-dropdown-container .dropdown-item {
    
    color: #ffc107 !important;
    padding: 15px 20px !important;
    text-transform: uppercase;
    font-weight: 700;
    
    background-color: #18a680 !important;
    transition: background 0.3s ease !important;
}

.btn-contact {
 
    font-weight: 600;
    transition: all 0.3s ease-in-out;
    position: relative;
    cursor: pointer;

}

.btn-contact:hover {
    background-color: #18a680 !important;
    color: #ffc107 !important; /* Giallo o Bianco */
    transform: translateY(-2px);
}
.dashboard{
    font-weight: 600;
    transition: all 0.3s ease-in-out;
    position: relative;
    cursor: pointer;

}
.dashboard:hover{
    background-color: #18a680 !important;
    color: #ffc107 !important; /* Giallo o Bianco */
    transform: translateY(-2px);

}
/* RESPONSIVE DESIGN */
@media (max-width:991px) {
    .user-section {
        padding-top: 15px;
        border-top: 1px solid #444;
        margin-top: 10px;
    }

    .avatar-circle {
        width: 32px;
        height: 32px;
    }

}