.register-page{
    background: linear-gradient(135deg,#74ebd5 0%,#9face6 100%);
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.register-card{
    background: white;
    padding: 2.5rem;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(95, 83, 83, 0.15);
    width: 100%;
    max-width: 500px;
}
.register-card h2{
    color: #444;
    font-weight: 700;
    margin-bottom: 1.5rem;
    text-align: center;
}
.custom-button{
    background:#764ba2 !important;
    border: none !important;
    border-radius: 10px !important;
    padding: 12px !important;
    font-weight: 600 !important;
    transition: trasform 0.2s ease !important;
}
.custom-button:hover{
    transform: translateY(-2px);
    background: #5a3782 !important
}